{% extends 'base.html' %}

{% load static %}

{% block head_extra %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content_classes %} page-home{% endblock %}

{% block content %}

<h1>Diamind <i class="fas fa-gem"></i></h1>

{% if home_entries.count %}
<div id="home-entries">
{% for e in home_entries %}
{{ e.badge }}
{% endfor %}
</div>
{% endif %}

{% if user.is_authenticated %}<a class="btn btn-primary" href="{% url 'entry_create' %}?home"><i class="fas fa-plus"></i> New entry</a>{% endif %}

{% if latest_entries.count %}
<div id="home-entries-latest">
<h3>Latest modifications</h3>
{% for e in latest_entries %}
{{ e.badge }}
{% endfor %}
</div>
{% endif %}

{% endblock %}