{% extends 'base.html' %}

{% load static %}

{% block head_extra %}
{% endblock %}

{% block title %}{{ entry.name_get }}{% if entry != child %} → {% if child.name_parent != entry %}{{ child.name_get }}{% else %}{{ child.name_get_no_name_parent }}{% endif %}{% endif %}{% endblock %}

{% block content_classes %} page-navigation{% endblock %}

{% block content %}

<div id="navigation">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
	    {% for e in path_entries %}
	    <li class="breadcrumb-item{% if e.entry == entry %} active{% elif e.entry == child %} active-child{% endif %}"><a href="{{ e.path }}">{{ e.span }}</a></li>
	    {% endfor %}
	    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
	  </ol>
	</nav>

	<div id="navigation-horiz">
	  <div class="row">
	    <div class="col-3 navigation-child-list" id="navigation-children">

	    	{% if entry_children %}{% include "core/nav_children.html" %}{% endif %}

	    	{% if user.is_authenticated %}<a class="btn btn-secondary" href="{% url 'entry_create' %}?parent={{ entry.pk }}&next={{ path_entry|urlencode }}%3Fe%3D{{ entry.pk }}"><i class="fas fa-plus"></i></a>{% endif %}
	    </div>
	    <div class="col-9" id="navigation-child">

	    	{% if user.is_authenticated %}
	    	<div id="navigation-child-actions">	
	    		<a href="{% url 'entry_update' child.pk %}?next={{ path_clean|urlencode }}%3Fe%3D{{ entry.pk }}%26c%3D{{ child.pk }}"><i class="fas fa-edit"></i></a>
	    		<a href="{% url 'entry_delete' child.pk %}{% if parent %}?next={{ path_clean|urlencode }}%3Fe%3D{{ parent.pk }}{% endif %}"
	    		   onclick="return false;" ondblclick="document.location = $(this).attr('href');" title="Double-click to delete"><i class="fas fa-trash"></i></a>
	    	</div>
	    	{% endif %}

	    	{% if child.name.strip != '' %}<h1>{{ child.name }}</h1>{% endif %}

	    	{% if child.text.strip != '' %}
	    	<div id="navigation-child-markdown">
			{{ child.text_html }}
	    	</div>
			{% endif %}

			{% if child.file %}
			<div id="navigation-child-file">			
				{% if child.file_is_video %}
				<div align="center" class="embed-responsive embed-responsive-16by9">
				    <video controls class="embed-responsive-item">
				        <source src="{{ child.file.url }}">
				    </video>
				</div>
				{% endif %}
				<a href="{{ child.file.url }}">{{ child.file_filename }}</a>
			</div>
			{% endif %}

			{% if child.image %}<a href="{{ child.image.url }}"><img src="{{ child.image.url }}" class="img-fluid" /></a>{% endif %}

	    </div>
	    <!-- <div class="col-2 navigation-child-list" id="navigation-child-children"></div> -->
	  </div>
	</div>

</div>

{% include "core/bootstrap_table_reorder.html" %}

{% endblock %}
