html, body, .container-fluid {
	height: 100%;
	padding: 0;
	margin: 0;
}

.container-fluid > * {
	margin: 1.5rem 2rem;
}

.disabled_loading {
    opacity: 0.5;
    cursor: wait;
}
.disabled_loading > * {
    pointer-events: none;
}

.page-home {
	text-align: center;
}

.page-home h1 {
	margin: 5rem 0 5rem 0;
}

.page-home h1 i {
	display: block;
	margin-top: 0.4rem;
}

.page-home h1 a {
	color: black;
	text-decoration: none;
}

.page-home #home-search,
.page-home #home-entries-root,
.page-home #home-entries-latest {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	line-height: 2.2rem;
}

.page-home #home-search {
	margin-bottom: 5rem;
}

.page-home #home-search form {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-home #home-search form .btn {
	width: 100%;
    text-align: center;
}

.page-home #home-search #home-search-results {
	margin-top: 1rem;
}

.page-home #home-entries-latest {
	margin-top: 5rem;
	zoom: 75%;
}

.select2-selection--multiple {
	min-height: 320px !important;
}

.embed-responsive-16by9 {
	background-color: black;
}

#navigation {
	/*background-color: gray;*/
	height: 100%;
	overflow: hidden;
	margin: 0;
	/*padding-top: 3rem;*/
}

#navigation nav {
	position: absolute;
	width: 100%;
}

#navigation nav a {
	color: black;
}

#navigation nav .active a,
#navigation nav .active-child a {
	font-weight: bold;
}

#navigation nav .active a {
	color: #007bff;
}

#navigation-horiz {
	/*background-color: green;*/
	height: 100%;
	padding-top: 4rem;
}

#navigation-horiz .row {
	/*background-color: blue;*/
	height: 100%;
	margin: 0
}

#navigation-horiz .row > * {
	/*background-color: red;*/
	padding: 0rem 1rem;
	overflow-y: auto;
    height: inherit;
}

#navigation-child > * {
	margin-bottom: 2rem;
	display: block;
}

#navigation-child #navigation-child-actions {
	float: right;
}

#navigation-child #navigation-child-actions a {
	color: black;
}

#navigation-child #navigation-child-file > * {
	margin-bottom: 0.5rem;
	display: block;
}
#navigation-child #navigation-child-file > *:last-child {
	margin-bottom: 0;
}

.navigation-child-list {
	border: 0 solid #ddd;
}

.navigation-child-list > * {
	margin-bottom: 3rem;
}

.navigation-child-list > * > * {
	margin-bottom: 1rem;
}

.navigation-child-list:first-of-type {
	border-width: 0 1px 0 0;
}

.navigation-child-list:last-of-type {
	border-width: 0 0 0 1px;
}

.navigation-child-list td {
	padding: 0.5rem;
}

.navigation-child-list tr.active {
	background-color: #ddd;
}

.navigation-child-list td > a {
	color: black;
	display: block;
	text-decoration: none;
}

/*.navigation-child-list .btn {
	width: 100%;
}*/

.entry-list thead {
	display: none !important;
}

.entry-list .entry-list-container {
	margin: 0.9rem 0 0 0.9rem;
}

.entry-list .entry-list-container .entry-list {
	background-color: rgba(255, 255, 255, .7);
	margin: 0;
}

.badge.entry {
	font-size: 16px;
	line-height: 25px;
}